<h2>{{title}}</h2>

<form >
    <div class="form-group">
        <label for="vesselid">Vessel Id</label>
        <!-- depending on the idNonEditable this imput will be read only or not.
        It is included logic for change the class-->
        <input ng-readonly="idNonEditable"
               ng-class="{readonly : idNonEditable}"
               type="text"
               class="form-control"
               id="vesselid"
               placeholder="id"
               ng-model="vessel.id">
    </div>
    <div class="form-group">
        <label for="vesselwidth">Vessel width</label>
        <input type="number" class="form-control"  id="vesselwidth" placeholder="width" ng-model="vessel.width">
    </div>
    <div class="form-group">
        <label for="vessellength">Vessel Id</label>
        <input type="number" class="form-control"  id="vessellength" placeholder="length" ng-model="vessel.length">
    </div>
    <div class="form-group">
        <label for="vesseldraft">Vessel Id</label>
        <input type="number" class="form-control"  id="vesseldraft" placeholder="draft" ng-model="vessel.draft">
    </div>

    <button type="submit" class="btn btn-default" ng-click="submit()">{{buttonName}}</button>
    <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</form>