<h2>{{title}}</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>width</th>
                <th>length</th>
                <th>draft</th>
            </tr>

            <tr ng-repeat="vessel in vessels" ng-click="showVesselOptions(vessel)">
                <td>{{vessel.id}}</td>
                <td>{{vessel.width}}</td>
                <td>{{vessel.length}}</td>
                <td>{{vessel.draft}}</td>
            </tr>

        </table>
    </div>

    <p><a class="btn btn-lg btn-success" ng-href="/#/new" role="button">New Vessel</a></p>

